<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDRQ6AJmsT2UdFYv94haoFsIqPgE8cvTjA</string>
	<key>GCM_SENDER_ID</key>
	<string>944442338814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appleQuoridor</string>
	<key>PROJECT_ID</key>
	<string>quoridor-79bf6</string>
	<key>STORAGE_BUCKET</key>
	<string>quoridor-79bf6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:944442338814:ios:020f71b6413ac901b9a4af</string>
	<key>DATABASE_URL</key>
	<string>https://quoridor-79bf6-default-rtdb.firebaseio.com</string>
</dict>
</plist>